html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1,
h2,
h3 {
  font-size: inherit;
  margin: 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  overflow-x: hidden;
}

body,
input,
textarea,
select,
button {
  font-family: "Ratio", Helvetica, sans-serif;
  font-weight: 300;
  color: darkslategrey;
}

a {
  color: darkslategrey;
  text-decoration: none;
  transition: color 0.15s linear;
  outline: none;
}

a:focus,
a:hover,
a:active {
  color: silver;
}

::selection {
  color: white;
  background: silver;
}

.logo {
  width: 160px;
  height: 16px;
  vertical-align: bottom;
  fill: currentColor;
  margin: 10% 0;
}

.landing {
  width: 100%;
}

@media (min-width: 701px) {
  .landing {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
  }
}

.left,
.right {
  position: relative;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left__background,
.right__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #222;
}

.left__content,
.right__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 400px;
  margin: 10%;
}

.left__footer,
.right__footer {
  margin: 10% 0;
  display: flex;
  justify-content: center;
}

.left {
  color: #222;
}

.left__background {
  background-color: #fff;
  background-size: 90px;
  background-repeat: repeat;
  background-position: calc(50% + 31px) 11px;
}

.left__content {
  flex: 1 0 1;
  margin: 0 10%;
}

.left__content p {
  margin: 0 0 1rem;
}

.left__content .button {
  margin-top: 2rem;
  align-self: center;
  font-size: 17px;
  line-height: 24px;
  padding: 8px 16px;
}

.right {
  color: #fff;
}

.right__background {
  background-color: #222;
}

@media (min-width: 0) and (max-width: 700px) {
  .right__logo {
    display: none;
  }
}

.right__content {
  margin-top: 40%;
}

.button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  background: transparent;
  font-family: "Ratio", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: #444;
  border-color: #aaa;
}

.button:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 2px;
  transition: all 0.15s linear;
}

.button:focus {
  outline: none;
}

.buttonActive,
.button:active {
  z-index: 2;
}

.buttonActive:before,
.button:active:before {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.button:before {
  background: #efefef;
}

.button:focus {
  box-shadow: 0 0 3px 1px #a9ffe2;
}

.buttonActive,
.button:active {
  color: #444;
  border-color: #7faa9c;
}

.buttonActive:before,
.button:active:before {
  background: #a9ffe2;
}

.newsletter {
  display: flex;
  width: 100%;
}

.newsletter__input {
  flex: 1;
  font-family: "Ratio", Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 3px;
  padding-left: 8px;
  background: #fff;
  border: 1px solid #fff;
  color: #222;
}

.newsletter__input:focus {
  border-color: #aaa;
  outline: none;
  box-shadow: 0 0 3px 1px #a9ffe2;
}

.newsletter__submit-button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  background: transparent;
  font-family: "Ratio", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border: 0;
  padding: 8px 10px;
}

.newsletter__submit-button:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 2px;
  transition: all 0.15s linear;
}

.newsletter__submit-button:focus {
  outline: none;
}

.newsletter__submit-buttonActive,
.newsletter__submit-button:active {
  z-index: 2;
}

.newsletter__submit-buttonActive:before,
.newsletter__submit-button:active:before {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.newsletter__submit-button__wrapper {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  background: transparent;
  font-family: "Ratio", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: #444;
  border-color: #aaa;
  padding: 0;
  margin-left: 8px;
  border-color: #a9ffe2;
}

.newsletter__submit-button__wrapper:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 2px;
  transition: all 0.15s linear;
}

.newsletter__submit-button__wrapper:focus {
  outline: none;
}

.newsletter__submit-button__wrapperActive,
.newsletter__submit-button__wrapper:active {
  z-index: 2;
}

.newsletter__submit-button__wrapperActive:before,
.newsletter__submit-button__wrapper:active:before {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.newsletter__submit-button__wrapper:before {
  background: #a9ffe2;
}

.newsletter__submit-button__wrapper:focus {
  box-shadow: 0 0 3px 1px #a9ffe2;
}

.newsletter__submit-button__wrapperActive,
.newsletter__submit-button__wrapper:active {
  color: #444;
  border-color: #7faa9c;
}

.newsletter__submit-button__wrapperActive:before,
.newsletter__submit-button__wrapper:active:before {
  background: #a9ffe2;
}

.link--social {
  margin: 0 0.5rem;
  opacity: 0.6;
  transition: opacity 0.2s linear;
}

.link--social:hover,
.link--social:focus {
  opacity: 1;
}

.link--social__logo {
  width: 1.5rem;
  height: 1.5rem;
  fill: #222;
}
