@import '~styles/mixins/buttons'
@import '~styles/mixins/responsive'

.settings
  position: absolute
  display: flex
  flex-wrap: wrap
  left: 0
  bottom: 0
  width: 100%

.settingsGroup
  display: flex
  flex-wrap: wrap
  margin: 0 0 8px 16px
  +bp('mobile')
    margin: 0 0 16px 24px

.settingsGroupTitle
  width: 100%
  margin-bottom: 8px
  text-transform: uppercase
  font-size: 14px
  font-weight: 400
  +bp('mobile')
    margin-bottom: 12px

.button
  +button--light
  margin: 0 -1px 8px

.buttonGroup
  +button-group
  margin-right: 9px
