@import '~styles/mixins/responsive'

.canvasWrapper
  position: relative
  cursor: crosshair
  width: 100%
  overflow: hidden
  +bp('mobile')
    width: 50%

.canvasHiddenOnMobile
  +bp(0px, 'mobile')
    visibility: hidden
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    z-index: -1

.canvas
  transition: transform 0.5s ease
  position: absolute
  top: 50%
  left: 50%

.canvasVertical
  transform: translate(-50%, -50%) rotate(0deg)

.canvasHorizontal
  transform: translate(-50%, -50%) rotate(90deg)
