@import '~styles/mixins/responsive'
@import '~styles/mixins/buttons'
@import '~styles/variables/typography'
@import '~styles/variables/colors'

.demoWrapper
  position: relative
  background: linear-gradient(to bottom, #f9f9f9, #eee 70%, #ddd)
  cursor: pointer
  width: 100%
  +bp('mobile')
    width: 50%

.demoHiddenOnMobile
  +bp(0px, 'mobile')
    visibility: hidden
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    z-index: -1

.newsletterPopup
  position: absolute
  top: 0
  left: 0
  width: 100%
  box-sizing: border-box
  cursor: default
  font-size: 12px
  opacity: 0
  pointer-events: none
  user-select: none
  +bp('mobile')
    font-size: 16px
    padding: 36px

.newsletterPopupVisible
  pointer-events: auto
  opacity: 1
  transition: opacity 0.4s linear 2s // 2 second entrance delay

.newsletterPopupForm
  background: rgba(#e3e3e3, 0.8)
  padding: 8px
  +bp('mobile')
    padding: 16px
    border-radius: 4px
    float: right
    box-sizing: border-box
    width: 100%
    max-width: 360px

.newsletterPopupHint
  margin-bottom: 8px
  color: #222
  font-size: 14px
  +bp('mobile')
    margin-bottom: 16px

.newsletterPopupFields
  display: flex

.newsletterPopupSubmitButtonWrapper
  +button--highlight
  padding: 0
  margin-left: 8px

.newsletterPopupSubmitButton
  +button
  border: 0
  padding: 8px 10px

.newsletterPopupEmailField
  flex: 1
  font-family: $font-family-default
  font-size: 14px
  border-radius: 3px
  padding-left: 8px
  background: #fff
  border: 1px solid #fff
  color: #222
  &:focus
    border-color: #aaa
    outline: none
    box-shadow: 0 0 3px 1px $color-accent-mint
