.sliderSettings
  box-sizing: border-box
  position: absolute
  bottom: 5vh
  right: 0
  width: 100%
  text-align: center
  opacity: 0
  pointer-events: none
  transition: opacity 0.3s linear

.range
  -webkit-appearance: none
  width: 15rem
  max-width: 20vw
  display: block
  margin: 1rem auto
  background: transparent
  border-radius: 1.3px
  transition: background 0.2s linear
  background: rgba(white, 1)
  border: 1px solid rgba(gainsboro, 1)
  &:hover
    background: rgba(white, 1)
  &:focus
    outline: none
    background: rgba(snow, 1)
  &::-webkit-slider-runnable-track
    width: 100%
    height: 1rem
    cursor: pointer
  &::-webkit-slider-thumb
    cursor: pointer
    -webkit-appearance: none
    margin-top: -0.25rem
    height: 1.5rem
    width: 0.5rem
    border-radius: 3px
    background: whitesmoke
    border: 1px solid silver

.refreshButton
  position: absolute
  bottom: 0
  left: 50%
  opacity: 0
  // pointer-events: none
  cursor: pointer
  // transition: opacity 0.5s linear
  transform: translate(-50%, -50%)
  background: whitesmoke
  padding: 1rem
  font-size: 1.25rem
  border: 1px solid silver
  border-radius: 3px
  text-transform: uppercase

.refreshButton:focus
  outline: none
  background: gainsboro

.refreshButtonHint
  opacity: 1

.sliderSettingsVisible,
.refreshButtonVisible
  opacity: 1
  pointer-events: auto
