@import '~styles/variables/typography'
@import '~styles/mixins/responsive'
@import '~styles/mixins/buttons'
@import '~styles/mixins/inputs'

.settings
  position: absolute
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  left: 0
  bottom: 0
  width: 100%
  z-index: 10
  pointer-events: none

.settingsGroupWrapper
  margin: 0 0 8px 16px
  pointer-events: none
  transition: opacity 0.5s ease-out
  +bp('mobile')
    margin: -8px 0 16px 24px

.withSectionBubble[data-section]
  &:before
    content: attr(data-section)
    display: block
    margin: 8px 0
    height: 24px
    width: 24px
    background: rgba(#555, 0.6)
    color: #fff
    border-radius: 50%
    font-size: 16px
    line-height: 20px
    text-align: center
    font-weight: $font-weight-heavy

.settingsGroup
  display: flex
  flex-wrap: wrap
  pointer-events: auto
  .settingsGroupHidden &
    pointer-events: none

.settingsGroupHidden
  opacity: 0

.settingsGroupTitle
  margin-bottom: 8px
  text-transform: uppercase
  font-size: 14px
  font-weight: 400
  user-select: none
  +bp('mobile')
    margin-bottom: 12px

.button
  +button--light
  margin: 0 0 8px

.buttonGroup
  +button-group-horizontal

.buttonGroup + .button
  margin-left: 8px

.icon
  width: 18px
  height: 18px
  margin: 0 4px
  vertical-align: bottom
  fill: none
  stroke: currentColor
  .buttonActive &
    fill: rgba(#fff, 0.6)
    transform: scale(1.1)

.range
  +range-input
  margin: 0 0 10px
  &:last-child
    margin-bottom: 8px

.settingsGroupDepth
  max-width: 200px

.settingsGroupDownload
  max-height: 160px
  transition: all 0.8s ease-out
  display: flex
  flex-direction: column
  justify-content: flex-end
  &.settingsGroupHidden
    max-height: 0
    margin-bottom: 0

.refreshButton
  +button--light
  +button--large
  position: absolute
  bottom: 24px
  left: 24px
  opacity: 0
  pointer-events: none
  cursor: pointer
  transition: opacity 0.5s linear, bottom 0s linear 0.5s, left 0s linear 0.5s, transform 0s linear 0.5s
  +bp(0px, 'mobile')
    display: none

.refreshButtonCentered
  left: 50%
  bottom: 50%
  transform: translate(-50%, 50%)

.refreshButtonVisible
  opacity: 1
  pointer-events: auto

.scale
  position: absolute
  right: 24px
  top: 50%
  transform: translateY(-50%)
  border-right: 2px solid rgba(#555, 0.6)
  transition: opacity 0.5s ease-out
  &:before
    content: 'cm'
    position: absolute
    top: -2em
    right: -2px
    font-size: 12px
    text-align: center
    font-weight: $font-weight-heavy
    color: #555

.scaleHidden
  opacity: 0

.scaleUnit
  display: block
  box-sizing: border-box
  border-bottom: 2px solid rgba(#555, 0.6)
  height: 91px
  width: 12px
  pointer-events: none
  &:first-child
    height: 2px
  +bp(0, 'mobile')
    &:last-child
      display: none
