@import '~styles/mixins/responsive'
@import '~styles/mixins/buttons'
@import '~styles/mixins/inputs'

.settings
  position: absolute
  display: flex
  flex-wrap: wrap
  left: 0
  bottom: 0
  width: 100%
  pointer-events: none

.settingsGroupWrapper
  margin: 0 0 8px 16px
  pointer-events: auto
  transition: opacity 0.5s ease-out
  +bp('mobile')
    margin: 0 0 16px 24px

.settingsGroup
  display: flex
  flex-wrap: wrap

.settingsGroupHidden
  opacity: 0
  pointer-events: none

.settingsGroupTitle
  margin-bottom: 8px
  text-transform: uppercase
  font-size: 14px
  font-weight: 400
  user-select: none
  +bp('mobile')
    margin-bottom: 12px

.button
  +button--light
  margin: 0 0 8px

.buttonGroup
  +button-group

.buttonGroup + .button
  margin-left: 8px

.range
  +range-input
  margin: 0 0 8px

.settingsGroupDepth
  max-width: 200px

.refreshButton
  +button--light
  +button--large
  position: absolute
  bottom: 24px
  left: 24px
  opacity: 0
  pointer-events: none
  cursor: pointer
  transition: opacity 0.5s linear, bottom 0s linear 0.5s, left 0s linear 0.5s, transform 0s linear 0.5s
  +bp(0px, 'mobile')
    display: none

.refreshButtonCentered
  left: 50%
  bottom: 50%
  transform: translate(-50%, 50%)

.refreshButtonVisible
  opacity: 1
  pointer-events: auto
